[submodule "framework"]
	path = framework
	url = git@github.com:rontech/meifan-framework.git
[submodule "database"]
	path = database
	url = git@github.com:rontech/meifan-database.git
[submodule "manager"]
	path = manager
	url = git@github.com:rontech/meifan-manager.git
[submodule "portal"]
	path = portal
	url = git@github.com:rontech/meifan-portal.git
